* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    display: flex;
    gap: 0; 
    width: 602px;
    height: 600px;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.box-el {
    border: 1px solid #000000;
    flex: 1;
    aspect-ratio: 1/1;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}