* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 0; 
    min-width: 960px;
    height: 960px;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.box-el {
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
}